In [2]:
import pandas as pd
import os

# Load CSV Files

In [4]:
folder_path = "C:/Users/kamin/DataEngineerPortfolio/bike-rental-starter-kit/data"
file_list = os.listdir(folder_path)
file_list

['JC-201601-citibike-tripdata.csv',
 'JC-201602-citibike-tripdata.csv',
 'JC-201603-citibike-tripdata.csv',
 'JC-201604-citibike-tripdata.csv',
 'JC-201605-citibike-tripdata.csv',
 'JC-201606-citibike-tripdata.csv',
 'JC-201607-citibike-tripdata.csv',
 'JC-201608-citibike-tripdata.csv',
 'JC-201609-citibike-tripdata.csv',
 'JC-201610-citibike-tripdata.csv',
 'JC-201611-citibike-tripdata.csv',
 'JC-201612-citibike-tripdata.csv',
 'newark_airport_2016.csv']

In [8]:
df_list = [pd.read_csv(os.path.join(folder_path,file)) for file in file_list if file.startswith('JC')]

df_list = pd.concat(df_list).reset_index(drop = True)

df_list['id'] = df_list.index

df_list

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,id
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2,0
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1,3
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247579,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981.0,2,247579
247580,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,NaN,0,247580
247581,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978.0,1,247581
247582,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960.0,2,247582
247583,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956.0,1,247583

# Clean Data

### Find Missing Values for Each Columns

In [10]:
missing_value = df_list.isnull().sum()
missing_value

Trip Duration                  0
Start Time                     0
Stop Time                      0
Start Station ID               0
Start Station Name             0
Start Station Latitude         0
Start Station Longitude        0
End Station ID                 0
End Station Name               0
End Station Latitude           0
End Station Longitude          0
Bike ID                        0
User Type                    380
Birth Year                 18999
Gender                         0
id                             0
dtype: int64

In [14]:
#find unique in User Type
df_list['User Type'].unique()

array(['Subscriber', 'Customer', nan], dtype=object)

## Fixed DataType

In [17]:
df_list["Start Time"] = pd.to_datetime(df_list['Start Time'])
df_list['Stop Time'] = pd.to_datetime(df_list['Stop Time'])

df_list.dtypes

Trip Duration                       int64
Start Time                 datetime64[ns]
Stop Time                  datetime64[ns]
Start Station ID                    int64
Start Station Name                 object
Start Station Latitude            float64
Start Station Longitude           float64
End Station ID                      int64
End Station Name                   object
End Station Latitude              float64
End Station Longitude             float64
Bike ID                             int64
User Type                          object
Birth Year                        float64
Gender                              int64
id                                  int64
dtype: object

## Add Colums

In [ ]:
citibike_df['Age'] = datetime.now().year
citibike_df['Age'] = citibike_df['Age'] - citibike_df['Birth Year']